{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title> Statistic by Province </title>
{% endblock title %}

{% block style %}
    <link rel="stylesheet" type="text/css"  href="{% static 'css/fact_checker.css' %}">
    <link rel="stylesheet" type="text/css"  href="{% static 'css/statistic.css' %}">
{% endblock style %}
    {% block content  %}
        <br>
        <p class ="font-black-muted" id="date"> Source : data.covid19.go.id | Last Updated : {{ last_updated }}</p>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" id="search_div">
            <label class ="top" for="search"> Search Province </label>
            <input type="text" id="search" placeholder="ex: Banten">
        </div>
        <br>
        <div id="province">
        </div>

    {% endblock %}
    {% block extra_script %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'js/province.js' %}"></script>
    {% endblock extra_script %}