{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title> Home </title>
{% endblock title %}

{% block style %}
    <link rel="stylesheet" type="text/css"  href="{% static 'css/fact_checker.css' %}">
{% endblock style %}
    {% block content  %}
        <br>
        <div id="content">
        </div>

    {% endblock %}
    {% block extra_script %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'js/statistic.js' %}"></script>
    {% endblock extra_script %}