{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}
    {% endblock title %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" 
  integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" 
  crossorigin="anonymous">
  {% block style %}
  {% endblock style %}

</head>

<style>
 .navbar-custom {
   background-color: #154360;
 }
 .navbar-custom .navbar-toggler-icon {
  background-image: url("https://files.catbox.moe/hpcipe.svg");
}

.copyright {
  font-size: 80%;
  color: rgb(229, 229, 229);

}
</style>

<body>
    <nav class="navbar navbar-custom navbar-expand-lg">
        <a style="color: white;" class="navbar-brand" href="{% url 'Statistic_Views' %}">COVINFO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a style="color: white;" class="nav-link" href="{% url 'Statistic_Views' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a style="color: white;" class="nav-link" href="{% url 'relawan:About' %}">About</a>
            </li>
            <li class="nav-item">
              <a style="color: white;" class="nav-link" href="{% url 'stats:stats_prov' %}">Cases</a>
            </li>
            <li class="nav-item">
              <a style="color: white;" class="nav-link" href="{% url 'message:prevention' %}">Prevention</a>
            </li>
            <li class="nav-item dropdown">
              <a style="color: white;" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'fact_checker:info-all' %}">Fact Checker</a>
                <a class="dropdown-item" href="{% url 'relawan:relawan' %}">Volunteer</a>
                <a class="dropdown-item" href="{% url 'feedback:feedback' %}">Feedback</a>
                <a class="dropdown-item" href="{% url 'message:index' %}">Hopeful Message</a>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
              <li class="nav-item">
                  <a style="color: white;" class="nav-link" href="#"> Hello, {{ user.username }} </a>
              </li>
              <li class="nav-item">
                  <a style="color: white;" class="nav-link"  href="{% url 'user:logout' %}">Logout</a>
              </li>
            {% else %}
              <li class="nav-item">
                  <a style="color: white;"  class="nav-link" href="{% url 'user:login' %}">Login</a>
              </li>
              <li class="nav-item">
                  <a style="color: white;" class="nav-link" href="{% url 'user:register' %}"> Register</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    <div class="container" >
        {% block content %}

        {% endblock content %}
      <br>
      <br>
      <p class="copyright">© Kelompok 14 PPW Kelas D 2020, Fakultas Ilmu Komputer, Universitas Indonesia</p>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" 
integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" 
crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" 
integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" 
crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" 
crossorigin="anonymous"></script>
  {% block extra_script %}
  {% endblock extra_script %}
</body>

</html>