{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    <title>Feedback</title>
{% endblock page_title %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylefb.css' %}">
{% endblock style %}

{% block content %}
    <h1>Feedback</h1>
    <br>
    <div class="container">
        <div class="row">
            <div id= "col1" class="col">
                <div class="column">
                    <div class="container-fluid">
                        <div id="scrollable">
                            <!-- Ajax Content -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container-fluid">
                    <form action="{% url 'feedback:landing' %}" class="main-form" id="form" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <!-- <label for="name">Username</label>
                            <br>
                            {{ form.user_name }} -->
                            <label for="name">Kritik/Saran</label>
                            <br>
                            {{ form.feedback }}
                        </div>
                        <button id="addfeedback" type="submit" class="btn btn-dark mb-3 float-right">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block extra_script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'feedback.js' %}"></script>
    {% if not user.is_authenticated %}
        <script src="{% static 'hoverfeedback.js' %}"></script>
    {% endif %}
{% endblock extra_script %}