{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Confirmation</title>
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'stylefb.css' %}">
{% endblock style %}

{% block content %}
<div class="d-flex flex-column pt-5 align-items-center container wrapper">
    <div class="col-md-8">
        <form action=" {% url 'feedback:create' %}" class="main-form" method="POST">
            {% csrf_token %}
            <div class="d-none">
                {{ form }}
            </div>
            <div class="card text-center">
                <div class="card-header">
                    Confirmation
                </div>
                <div class="card-body">
                    <h5 class="card-title">Halo, {{ request.user.username }}</h5>
                    <p class="card-text">Tambahan feedback ini?</p>
                    <h4 class="text text-center" style="color: #FCA311;"><span>&#x201c</span>{{ feedback }}<span>&#x201d</span></h4>
                    <div class="d-flex justify-content-end">
                        <a id="cancelfeedback" href="{% url 'feedback:feedback' %}" class="btn btn-secondary mr-2">Cancel</a>
                        <button id="confirmfeedback" class="btn btn-dark mr-2" type="submit">Add</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock content %}
