{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    <title> Register </title>
{% endblock title %}

{% block style %}
    <link rel="stylesheet" type="text/css"  href="{% static 'css/fact_checker.css' %}">
{% endblock style %}
{% block content  %}
    <br>
    <h2>You have been logged Out</h2>
    <p><a href="{% url 'user:login'%}">Click Here To Login</a></p>
{% endblock %} 