{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    <title> Register </title>
{% endblock title %}

{% block style %}
    <link rel="stylesheet" type="text/css"  href="{% static 'css/fact_checker.css' %}">
{% endblock style %}
{% block content  %}
    <br>
    {% if user.is_authenticated %}
        <h2>You Already Logged in</h2>
        <p><a href={% url 'user:logout' %}> Click here to Logout </a> </p>
        {% else %}
    <form method = "POST">
    <h2>Register</h2>
        {% csrf_token %}
        {{ form|crispy }}
    <input class="btn btn-warning" type="submit" value="Register">
</form>
{% endif %}
{% endblock %}