@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.card-body {
    background-color: #154360;
  }.card-body h5, p {
    color: #FFFFFF;
  }
  
  .message {
    color: #FCA311;
  }
  
  #addmessage {
    width: 100px;
    color: #FCA311;
    background-color: black;
  }#confirmvolunteer {
    width: 90px;
    color: #FCA311;
    background-color: black;
  }#cancelvolunteer {
    width: 80px;
    color: black;
    background-color: gainsboro;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    color: #FCA311;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .main-form {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
  }.main-form label {
    color: #FCA311;
    font-size: 20px;
  }
  
  .column {
    flex: 50%;
    padding: 50px;
  }
  
  .container-fluid {
    background-color: #154360;
    padding-bottom: 5px;
  }.container-fluid h2{
    color: #FCA311;
    padding-top: 30px;
  }
  
  #scrollable {
    overflow-y: scroll;
    height: 350px;
  }
  
  .container {
    margin-top: 20px;
  }
  
  .mini-block {
    background-color: #FFFFFF;
    width: 95%;
  }
  
  
  @media screen and (max-width: 800px) {
    .column {
      flex: 100%;
      max-width: 100%;
      padding: 10px;
    }
  }
  @media screen and (max-width: 300px) {
    .column {
      flex: 100%;
      max-width: 100%;
      padding: 0px;
    }
  }