{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title> Fact Checker | Create </title>
{% endblock title %}

{% block style %}
    <link rel="stylesheet" type="text/css"  href="{% static 'css/fact_checker.css' %}">
{% endblock style %}

{% load crispy_forms_tags %}
    {% block content  %}
    <br>
    <h2>Create new report</h2>
    <form method="POST" id="post-form">
        {% csrf_token %}
        <div id="the_post">
            {{ form|crispy }}
        </div>
        <input class="btn btn-warning" id="submit" type="submit" value="Submit">
    </form>
    {% endblock %}

    {% block extra_script %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'js/info_create.js' %}"></script>
    {% endblock extra_script %}
