{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title> Fact Checker | Detail </title>
{% endblock title %}

{% block style %}
    <link rel="stylesheet" type="text/css"  href="{% static 'css/fact_checker.css' %}">
{% endblock style %}
    {% block content  %}
    <div id="content">
    </div>
    <h1 class= "font-yellow bold"> Clarification </h1>
        <br>

        <div class="grey-card">
        <div class="container" id="clarification">
            <br>
            <br>
                <p class="font-black-muted d-flex justify-content-center">Nothing to display here</p>
            <br>
            <br>
        </div>
        </div>
    {% endblock %}

{% block extra_script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/info_detail.js' %}"></script>
{% endblock extra_script %}
