{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title> Fact Checker </title>
{% endblock title %}

{% block style %}
    <link rel="stylesheet" type="text/css"  href="{% static 'css/fact_checker.css' %}">
{% endblock style %}
   {% block content  %}
        {% if messages %}
            {% for i in messages %}
            <br>
            <div class="alert alert-secondary" role="alert">
                {{ i }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            {% endfor %}
        {% endif %}
        <br>
        <h1 class="font-dark-blue bold">Fact Checker</h1>
        <br>
        <a class="btn btn-warning" id="create" href="{% url 'fact_checker:info-create' %}" role="button">Create Report</a>
        <br>
        <br>
        <div class="grey-card">
            <div class="container">
                <br>
                <h3 class="font-black bold">Fact Checked</h3>
                <br>
                    <div id="confirmed">
                        <br>
                        <br>
                        <p class="font-black-muted d-flex justify-content-center">Loading...</p>
                        <br>
                        <br>
                    </div>
                <br>
            </div>
        </div>

        <br>

        <div class="grey-card">
            <div class="container">
                <br>
                <h3 class="font-black bold">Reported</h3>
                <br>
                    <div id="unconfirmed">
                        <br>
                        <br>
                        <p class="font-black-muted d-flex justify-content-center">Loading...</p>
                        <br>
                        <br>
                    </div>
                <br>
            </div>
        </div>
    {% endblock  %}

{% block extra_script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/info_all.js' %}"></script>
    {% if not user.is_authenticated %}
        <script src="{% static 'js/hover.js' %}"></script>
    {% endif %}
{% endblock extra_script %}