{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    <title>Volunteer</title>
{% endblock page_title %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'lol.css' %}">
{% endblock style %}

{% block content %}
    <h1 style="font-weight:bold;color: #154360;">Volunteer</h1>
    <div id="logon">
        <p class="d-flex justify-content-center mt-5" style="font-weight:bold;color: #154360;">Ingin Menjadi Volunteer atau Membutuhkan Volunteer? Mari isi Form!</p><a href ="#" id="ngerti" style="color:#154360;">Klik</a>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div id= "col1" class="col">
                <div class="column">
                    <div class="container-fluid">
                        <h2 style="text-align: center;">Volunteer/Membutuhkan</h2>
                        <div id="scrollable">
                            <!-- Ajax Content -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container-fluid">
                    <form action="{% url 'relawan:bisa' %}" class="main-form" id="form" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <br>
                            {{ form }}
                        </div>
                        <button id="volunteer" type="submit" class="btn btn-dark mb-3 float-right">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}


{% block extra_script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/relawan.js' %}"></script>
    {% if not user.is_authenticated %}
        <script src="{% static 'js/lol.js' %}"></script>
    {% endif %}
{% endblock extra_script %}