{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Confirmation</title>
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/message.css' %}">
{% endblock style %}

{% block content %}
<div class="d-flex flex-column pt-5 align-items-center container wrapper">
    <div class="col-md-8">
        <form action=" {% url 'message:message-create-data' %}" class="main-form" method="POST">
            {% csrf_token %}
            <div class="d-none">
                {{ form }}
            </div>
            <div class="card text-center">
                <div class="card-header">
                    Confirmation
                </div>
                <div class="card-body">
                    <h5 class="card-title">Halo, {{ request.user.username }}</h5>
                    <p class="card-text">Tambahkan pesan ini?</p>
                    <h4 class="text text-center" style="color: #FCA311;"><span>&#x201c</span>{{ message }}<span>&#x201d</span></h4>
                    <div class="d-flex justify-content-end">
                        <a id="cancelmessage" href="{% url 'message:index' %}" class="btn btn-secondary mr-2">Batal</a>
                        <button id="confirmmessage" class="btn btn-dark mr-2" type="submit">Tambah</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock content %}
