{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Message</title>
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/message.css' %}">
{% endblock style %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="column">
            <div class="container-fluid">
                <h2 class="text-center">Kolom Pesan</h2>
                <form action="{% url 'message:confirmation' %}" class="main-form" id="form" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Pesan</label>
                        <br>
                        {{ form.message }}
                    </div>
                    <button id="addmessage" type="submit" class="btn btn-dark mb-3 float-right">Tambah</button>
                </form>
            </div>
        </div>
        <div class="column">
            <div class="container-fluid">
                <h2 style="text-align: center;">Pesan dan Harapan</h2>
                <div id="scrollable">
                    <!-- Ajax Content -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block extra_script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/message.js' %}"></script>
    {% if not user.is_authenticated %}
        <script src="{% static 'js/hovermessage.js' %}"></script>
    {% endif %}
{% endblock extra_script %}